.create {
    max-width: 480px;
    margin: 40px auto;
    color: #463f3a
}

.create label span {
    display: block;
    margin: 30px 0 10px
}

.create p{
    font-size: 0.8rem;
    margin-top: 10px;
}

.btn{
    display: block;
    width: 100%;
    font-size: 1rem;
    margin-top: 30px;
    padding: 12px 0;
    border-radius: 4px;
    border: 0;
    background-color: #fb8500;
    color:white;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.ingredients {
    display: flex;
    align-items: center;
}

.ing-btn{
    display: block;
    margin: 0 0 0 10px;
    width: 30%;
    padding: 12px 0;
    border-radius: 4px;
    border:1px solid gray;
    background-color: #ffcb77;
    cursor: pointer;
    text-decoration: none;

}